# General
*~
.DS_Store

# Data directory
data/*
tests/data
python/screcode/data/*
python/sphinx/examples/data/*

# Documents
#*.rst
docs
#sphinx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Poetry
python/poetry.lock
python/poetry.toml

# Test
python/screcode/data
python/screcode/figure
python/screcode/test.py
python/screcode/screcode_test.ipynb