# General
*~
.DS_Store
GitHub_memo.txt

# Data directory
data/*
tests/data
python/screcode/data
python/sphinx/examples/data
python/sphinx/Tutorials/data

# Documents
#*.rst
docs
#sphinx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info
dist/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Poetry
python/poetry.lock
python/poetry.toml

# Test
python/screcode/data
python/screcode/output
python/screcode/figure
python/screcode/test.py
python/screcode/*.ipynb
python/screcode/__pycache__
python/screcode/.ipynb_checkpoints
python/screcode/integrecode_test.ipynb
python/screcode/screcode_v3.py
python/Tutorials/.ipynb_checkpoints
python/Tutorials/data
python/sphinx/Tutorials/.ipynb_checkpoints
python/sphinx/Tutorials/data


# Others
.vscode
images/Logo_RECODE.ai
python/Tutorials/screcode.py
python/sphinx/Tutorials/screcode.py
python/Test/integrating-data-using-ingest.ipynb
python/Test/data/pbmc3k_processed.h5ad
python/Test/data/pancreas.h5ad
python/Test/screcode.py
python/Test/data/99_1_Jurkat_293T_Cell_Mixture/matrix.mtx
python/Test/data/99_1_Jurkat_293T_Cell_Mixture/genes.tsv
python/Test/data/99_1_Jurkat_293T_Cell_Mixture/barcodes.tsv
python/Test/data/pbmc3k_raw.h5ad
python/Test/screcode_test.ipynb
python/Test/integrating-data-using-ingest_RECODE.ipynb
python/Test/data/pancreas.h5ad
*.h5ad
python/Test/screcode.py
libs
